<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.myweb.mapper.MyImagetextMapper">


    <select id="getGeoData" resultType="hashMap">
        select place, count(*) as num from my_imagetext group by place order by place;
    </select>
</mapper> 